header {
    position: relative;
}

.navbar {
    padding: 30px 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 30px;
}

.bg-shape {
    position: absolute;
    right: 0;
    height: 100vh;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: bold;
    margin-right: 40px;
}

.hero-section {
    padding: 40px 0;
}
.hero-section .hero-section-data {
    padding-left: 90px;
}
.hero-section .hero-section-data h2 {
    font-size: 40px;
}
.hero-section .hero-section-data p {
    font-size: 18px;
    font-weight: lighter;
    margin: 20px 0;
}
.hero-section .hero-section-data button {
    background-color: #7e76f9;
    color: #fff;
    border: 0;
    border-radius: 30px;
    padding: 10px 40px;
}

.hero-section img {
    position: relative;
    z-index: 2;
    width: 90%;
}

.about-us {
    padding: 40px 0;
}

.about-us img {
    width: 100%;
}
.about-us .about-us-data {
    padding-top: 20px;
    background-image: url(../images/bg-social-group.svg);
    background-size: cover;
    width: 120%;
    margin-left: -40px;
}

.about-us .about-us-data span {
    color: #7e76f9;
    font-weight: bold;
    margin-left: 40px;
}

.about-us .about-us-data h2 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
}
.about-us .about-us-data p {
    color: #7a839e;
    font-size: 14px;
    margin-left: 40px;
}
.about-us .about-us-data button {
    background-color: #7e76f9;
    color: #fff;
    border: 0;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 15px;
    margin-left: 40px;
}

.services {
    padding: 40px 0;
    background-image: url(../images/bg-services.svg);
    background-size: contain;
    
}

.services span {
    color: #7e76f9;
}
.services h2 {
    color: #42495b;
    font-weight: bold;
    margin-bottom: 40px;
}

.services .services-item {
    padding: 50px 20px ;
    box-shadow: rgb(242, 237, 237) -3px 0px 10px 10px;
    border-radius: 30px;
    margin: 20px 0;
    background-color: #fff;
}

.services .services-item:nth-of-type(2){
    margin: 10px ;
}
.services .services-item .services-item-image {
    text-align: center;
    margin: 20px 0;
}
.services .services-item h3 {
    font-size: 14px;
    font-weight: bold;
}
.services .services-item p {
    font-size: 13px;
}
.services .services-item .services-item-button {
    text-align: right;
}
.services .services-item .services-item-button button {
    background-color: #7e76f9;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
}
